@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View <a href="api/test">Dynamics Demo</a>.</p>
    <p>File Upload Example</p>
    <form action="api/file"><input type="file" /><input type="submit" title="Upload" /></form>

</div>
