@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Microsoft Dynamics 365 CE</h2>
    <p>View <a href="api/test">Dynamics Demo</a></p>
    <hr />
    <h2>SharePoint 2016</h2>
    <p> File Upload Example</p>
    <form action="api/file" method="post" enctype="multipart/form-data"><input type="file" name="file"/><input type="submit" value="Upload" /></form>
</div>
